		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"  /> 
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"  /> 
		<link rel="stylesheet" type="text/css" href="bower_components/fontawesome/css/font-awesome.css"  /> 
		<link rel="stylesheet" type="text/css" href="css/SPKanban.css"  /> 
		<link rel="stylesheet" type="text/css" href="bower_components/animate.css/animate.css"  /> 
		<style>[ng-cloak] { display: none; }</style>
		<script>
			// Include angular-loader to allow modules to be loaded in any order.
			/*
			   AngularJS v1.0.2
			   (c) 2010-2012 Google, Inc. http://angularjs.org
			   License: MIT
			 */
			(function(i) {
    'use strict';

    function d(c, b, e) {
        return c[b] || (c[b] = e())
    }
    return d(d(i, "angular", Object), "module", function() {
        var c = {};
        return function(b, e, f) {
            e && c.hasOwnProperty(b) && (c[b] = null);
            return d(c, b, function() {
                function a(a, b, d) {
                    return function() {
                        c[d || "push"]([a, b, arguments]);
                        return g
                    }
                }
                if (!e) throw Error("No module: " + b);
                var c = [],
                    d = [],
                    h = a("$injector", "invoke"),
                    g = {
                        _invokeQueue: c,
                        _runBlocks: d,
                        requires: e,
                        name: b,
                        provider: a("$provide", "provider"),
                        factory: a("$provide", "factory"),
                        service: a("$provide", "service"),
                        value: a("$provide", "value"),
                        constant: a("$provide", "constant", "unshift"),
                        filter: a("$filterProvider", "register"),
                        controller: a("$controllerProvider", "register"),
                        directive: a("$compileProvider", "directive"),
                        config: h,
                        run: function(a) {
                            d.push(a);
                            return this
                        }
                    };
                f && h(f);
                return g
            })
        }
    })
})(window);

		</script>
		<section id="todoapp" ng-controller="SPKanbanController">
			<header id="header"></header>
			<section id="loading" ng-show="showLoading">
				<div class="spinner">
				  <div class="rect1"></div>
				  <div class="rect2"></div>
				  <div class="rect3"></div>
				  <div class="rect4"></div>
				  <div class="rect5"></div>
				</div>
			</section>
			<section id="taskList" style="margin-top:20px;">
				<div class="row fader" ng-hide="showTaskList" ng-cloak>
					<div class="col-lg-2" ng-repeat="category in taskCategories">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{category}}</h3>
							</div>
							<div class="panel-body">
								<div class="row" ng-repeat="task in tasks | filter:{ Status: category }">
									<div class="panel panel-primary taskItem" ng-hide="task.moving" ng-cloak>
										<div class="panel-heading">
											<i class="fa fa-chevron-circle-left" ng-click="moveLeft(task)" style="float:left;"></i>
											<h3 class="panel-title">{{task.Title}}</h3>
											<i class="fa fa-chevron-circle-right" ng-click="moveRight(task)" style="float:right;"></i>
										</div>
										<div class="panel-body">
											<div>Assigned to {{task.AssignedTo}}</div>
											<div>Due on {{task.DueDate}}</div>
											<div>Priority: {{task.Priority}}</div>
											<div>{{task.Body}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="taskDetails" ng-show="showTaskDetails" style="display:none;">

			</section>
			<footer id="footer" ng-show="todos.length" ng-cloak>
				<span id="todo-count"><strong>{{remainingCount}}</strong>
					<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
				</span>
				<ul id="filters">
					<li>
						<a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
					</li>
					<li>
						<a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
					</li>
					<li>
						<a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
					</li>
				</ul>
				<button id="clear-completed" ng-click="clearDoneTodos()" ng-show="remainingCount < todos.length">Clear completed ({{todos.length - remainingCount}})</button>
			</footer>
		</section>
		<footer id="info">
			<p>Drag and drop your tasks</p>
		</footer>
		<script data-main="js/main" src="bower_components/requirejs/require.js"></script>
